*{
    margin: 0;
    box-sizing: border-box;
}

html{
    cursor: pointer;
    /*border: 3px solid yellow;*/
}

body{
    background-color: rgb(46, 46, 46);
    /*border: 3px solid white;*/
}

#container{
    /*border: 2px solid green;*/
    margin-top: 100px;
    margin-inline: auto;
    max-width: 800px;
    width: 100%;
    text-align: center;
    color:white;
    font-family: cursive;
    border-radius: 900px;
    box-shadow: 30px 30px 500px;
    background-color: rgb(117, 117, 117);
}

img{
    width: 200px;

}

h1{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    color: aqua;
    transition: color .9s;
}

p,h1{
    text-shadow: 3px 3px 10px;
}

input,button{
    display: block;
    width: 80%;
    margin-inline: auto;
}

input{
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    border-radius:10px ;
    font-size: 18px;
    opacity: .8;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 5px;
}

button{
    padding: 20px;
    border-radius: 50px;
    border: none;
    font-family: fantasy;
    font-size: 30px;
    transition: background-color .4s;
    color: rgb(46, 46, 46);
    background-color: gold;
    box-shadow: 5px 5px 10px black;
    width: 50%;
}

button:hover{
background-color: aqua;
color: darkblue;
cursor:none
}

button:active{
    color: white;
}

h1:hover{
    color: white;
}

#resposta{
margin-top: 20px;
font-weight: normal;
color: aqua;
text-shadow: 2px 2px 10px;
transition: opacity 3s ;
}

#resposta div{
margin-top: 10px;
color: white;
font-weight: bold;
font-size: 30px;
}